<form action="/usuarios/alta" method="POST">
    <label>Id</label>
    <input type="text" name="id"/> <br/>
    <label>Username</label>
    <input type="text" name="username"/> <br/>
    <label>Password</label>
    <input type="password" name="password"/> <br/>
    <label>Email</label>
    <input type="text" name="email"/><br/>
    <input type="submit" value="Enviar"/>
</form>