<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Welcome to <%= title %></h1>

<a href="/usuarios">Ver usuarios</a>
<a href="/usuarios/registrar">Resgistrar usuario</a>

<%#  "&lt;h3&gt;" %>

</body>
</html>
