<form action="<%=contextPath%>" method="POST">


    <label for="name">name</label>
    <input type="text" name="name" placeholder="name"/><br/>

    <label for="email">Email</label>
    <input type="text" name="email" placeholder="email"/><br/>

    <label for="password">Password</label>
    <input type="password" name="password" placeholder="password"/><br/>


    <input type="submit" value="Guardar"/>
    
</form>